//обнуление стилей
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


body{
	background: #e8e8e8 url('../img/Ellipse 1 copy.png') 50% 130px no-repeat;
}
.content{
	padding: 168px 0 137px 0;
	max-width: 841px;
	margin: 0 auto;
}

.content-header {
	text-align: center;
	margin: 0 0 65px 0;
}
.content-header_1 {
  font-size: 14px;
  font-family: "Arial";
  color: rgba(39, 61, 70, 0.6);
  text-transform: uppercase;
  line-height: 2.8;
  letter-spacing: 2px;
}
.content-header_2 {
  font-size: 36px;
  color: rgb(39, 61, 70);
  line-height: 1.4;
}

.content-image {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background-color: #fff;
	padding: 10px;
	margin: 0 0 85px 0;
}
.content-image img{
	max-width: 100%;
}

.content-bottom {
	padding: 0 45px;
}

.content-bottom_text {
  font-size: 24px;
  color: rgba(39, 61, 70, 0.8);
  line-height: 1.7;
  margin: 0 0 50px 0;
}
.content-bottom_text p{
	margin: 0 0 40px 0;
}
.content-bottom_text p:last-child{
	margin: 0;
}
.content-bottom_info {}
.content-bottom_list {
	font-family: Arial;
	font-size: 20px;
	margin: 0 0 59px 0;
}
.content-bottom_list li{
	padding:  0 0 0 35px;
	margin: 0 0 15px 0;
	background: url('../img/icons/check.png') left no-repeat;
}
.content-bottom_list li:nth-child(1){
  color: rgb(39, 61, 70);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.content-bottom_list li:nth-child(2){
  color: rgb(128, 183, 179);
  font-style: italic;
}
.content-bottom_list li:nth-child(3){
  color: rgb(39, 61, 70);
  font-weight: 700;
}
.content-bottom_list li:nth-child(4){
  color: #bbbebf;
  text-decoration: line-through;
}
.content-bottom_list li:last-child{
	margin: 0;
}
.content-bottom_info_link {
  background-color: rgb(128, 183, 179);
  display: inline-block;
  line-height: 45px;
  height: 45px;
  padding: 0 30px;
  border-radius: 25px;
  box-shadow: 0 6px 40px rgba(15, 16, 16, 0.15);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing:2.8px;
  font-family: Arial;
}
.content-bottom_info_link span{
	padding: 0 30px 0 0;
	background: url('../img/icons/arrow.png') right no-repeat;
}